<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Artículos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <header>
        <h1>Sistema de Cafetería UNAPEC</h1>
        <nav>
            <ul class="menu-principal">
                <li><a href="/">Inicio</a></li>
                <li class="gestion">
                    <a href="#">Gestión</a>
                    <ul class="submenu">
                        <li><a href="/campus">Campus</a></li>
                        <li><a href="/cafeterias">Cafeterías</a></li>
                        <li><a href="/tipos-usuarios">Tipos de Usuarios</a></li>
                        <li><a href="/proveedores">Proveedores</a></li>
                        <li><a href="/marcas">Marcas</a></li>
                        <li><a href="/usuarios">Usuarios</a></li>
                        <li><a href="/empleados">Gestión de Empleados</a></li>
                        <li><a href="/articulos">Artículos</a></li>
                    </ul>
                </li>
                <li><a href="/ventas">Ventas</a></li>
                <li><a href="/consultas">Consultas</a></li>
                <li><a href="/reportes">Reportes</a></li>
                <li><a href="/auth/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Lista de Artículos</h2>
        <a href="/articulos/add" class="button">Añadir Artículo</a>
        <table>
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Costo</th>
                    <th>Proveedor</th>
                    <th>Existencia</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% articulos.forEach(articulo => { %>
                    <tr>
                        <td><%= articulo.id %></td>
                        <td><%= articulo.description %></td>
                        <td><%= articulo.marca %></td>
                        <td><%= articulo.costo %></td>
                        <td><%= articulo.proveedor %></td>
                        <td><%= articulo.existencia %></td>
                        <td><%= articulo.state %></td>
                        <td>
                            <a href="/articulos/edit/<%= articulo.id %>">Editar</a>
                            <a href="#" onclick="confirmarEliminacion('<%= articulo.id %>')">Eliminar</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2024 Sistema de Cafetería UNAPEC</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/menu.js"></script>
    <script>
        // Mantener visible el submenú de "Gestión" cuando se está en una de sus páginas
        document.addEventListener('DOMContentLoaded', function() {
            var gestionLinks = document.querySelectorAll('.gestion .submenu a');
            gestionLinks.forEach(function(link) {
                if (link.href === window.location.href) {
                    link.closest('.gestion').classList.add('active');
                }
            });
        });

        //Funcion para confirmar eliminacion de articulo con ventas asociadas y sin ventas asociadas; en caso de tener ventas asociadas, se le pregunta al usuario si desea eliminar el articulo y sus ventas asociadas o cambiar el estado del articulo a 'No Disponible'
        function confirmarEliminacion(articuloId) {
    console.log('Verificando ventas asociadas para el artículo:', articuloId);
    fetch(`/ventas/articulo/${articuloId}`)
        .then(response => response.json())
        .then(data => {
            console.log('Datos recibidos:', data);
            if (data.ventas.length > 0) {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "Este artículo tiene ventas asociadas. Esta acción también eliminará todas las ventas asociadas. En su lugar, puedes cambiar el estado del artículo a 'No Disponible'.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminarlo',
                    preConfirm: () => {
                        return new Promise((resolve) => {
                            Swal.fire({
                                title: 'Escribe "si" para confirmar',
                                input: 'text',
                                inputAttributes: {
                                    autocapitalize: 'off'
                                },
                                showCancelButton: true,
                                confirmButtonText: 'Confirmar',
                                showLoaderOnConfirm: true,
                                preConfirm: (text) => {
                                    console.log('Texto ingresado:', text);
                                    if (text.toLowerCase() !== "sí" && text.toLowerCase() !== "si") {
                                        Swal.showValidationMessage(
                                            'Debes escribir "sí" para confirmar'
                                        );
                                    } else {
                                        resolve();
                                    }
                                },
                                allowOutsideClick: () => !Swal.isLoading()
                            });
                        }).then(() => {
                            console.log('Redirigiendo a la eliminación del artículo:', articuloId);
                            window.location.href = `/articulos/delete/${articuloId}`;
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¿Estás seguro de que quieres eliminar este artículo? Esta acción no se puede deshacer.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminarlo'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/articulos/delete/${articuloId}`;
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Ocurrió un error al verificar las ventas asociadas.'
            });
        });
}
    </script>
</body>
</html>